<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>O.W.L Rankings</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/jquery-3.3.1.slim.min.js"></script>-->
    <!--<script src="../static/js/popper.min.js"></script>-->
  </head>
  <body>
    <div id="banner" class="container">
      <h1 class="display-4">Welcome to the O.W.L. Ranking Site</h1>
    </div>
    <div class="container">
      <form action="{{ url_for('process_inputs') }}" method="post">
        <div class="form-group">
          <label for="input_name">First Name</label>
          <input type="text" class="form-control" name="input_name"  id="input_name" placeholder="Jeff Kaplan">
        </div>
        <div class="form-group">
          <label for="input_playstyle">How do you play most games?</label>
          <select class="form-control" name="input_playstyle" id="input_playstyle">
            <option value="Damage">Full on agression, no holding back.</option>
            <option>Let the enemy come to you, then crush them.</option>
            <option>Wait for the right moment, then save your team.</option>
            <option>Stay in the back, and let others do your dirty work.</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input_movement">How much movement do you like?</label>
          <select class="form-control" name="input_movement" id="input_movement">
            <option>Constant motion, no down time.</option>
            <option>Slow and methodical</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="container">
      {% if input_data %} {{ input_data }} {% endif %}
      <br />
      {% if output %} {{ output }} {% endif %}
      {% if group == 1 %} Genji, Tracer, Dooomfist, Pharah, and Soldier:76 {% endif %}
    </div>
  </body>
</html>